$theme-colors: map-merge(
  $theme-colors,
  (
    "white": #fff
  )
);

@each $name, $color in $theme-colors {
  .border-#{$name}-hover {
    transition: border .2s ease-in-out;

    &:hover {
      border: 1px solid $color !important;
    }
  }

  .border-bottom-#{$name}-hover {
    transition: border .2s ease-in-out;

    &:hover {
      border-bottom: 1px solid $color !important;
    }
  }
}

@each $name, $color in $theme-colors {
  .text-#{$name}-hover {
    transition: color .2s ease;

    &:hover {
      color: $color !important;
    }
  }
}

@mixin generate-top-utilities($values) {
  @each $key, $value in $values {
    .top-#{$key} {
      top: $value !important;
    }
  }
}

@include generate-top-utilities((
  0: 0,
  1: 1rem,
  2: 2rem,
  3: 3rem,
  4: 4rem,
  5: 5rem,
  6: 6rem,
  7: 7rem,
  8: 8rem,
  9: 9rem,
  10: 10rem,
));

$breakpoints: sm, md, lg, xl, xxl;

$borders: (
  top: border-top,
  right: border-right,
  bottom: border-bottom,
  left: border-left,
);

@each $bp in $breakpoints {
  @include media-breakpoint-up($bp) {
    @each $name, $property in $borders {
      .border-#{$bp}-#{$name} {
        #{$property}: var(--bs-border-width) solid var(--bs-border-color) !important;
      }

      .border-#{$bp}-#{$name}-0 {
        #{$property}: 0 !important;
      }
    }
  }
}

@each $bp in $breakpoints {
  @include media-breakpoint-up($bp) {
    // Bootstrap theme colors
    @each $color, $value in $theme-colors {
      .bg-#{$bp}-#{$color} {
        background-color: $value !important;
      }
    }
    // White
    .bg-#{$bp}-white {
      background-color: $white !important;
    }
    // Transparent
    .bg-#{$bp}-transparent {
      background-color: transparent !important;
    }
  }
}

@each $bp in $breakpoints {
  @include media-breakpoint-up($bp) {

    // Bootstrap theme colors
    @each $color, $value in $theme-colors {
      .text-#{$bp}-#{$color} {
        color: $value !important;
      }
    }

    // White
    .text-#{$bp}-white {
      color: $white !important;
    }

    // Black
    .text-#{$bp}-black {
      color: $black !important;
    }

    // Body color
    .text-#{$bp}-body {
      color: var(--bs-body-color) !important;
    }

    // Muted / Secondary
    .text-#{$bp}-muted {
      color: var(--bs-secondary-color) !important;
    }

    // Reset
    .text-#{$bp}-reset {
      color: inherit !important;
    }
  }
}