$enable-negative-margins: true;
$light: #F4F4ED;
$warning: #B59A6A;

$container-max-widths: (
  xxl: 1140px
);

$input-btn-focus-box-shadow: none;
$input-focus-box-shadow: none;
$btn-focus-box-shadow: none;