/* Custom Utility Classes */
.tracking-tight {
    letter-spacing: -0.05em;
}

.tracking-normal {
    letter-spacing: 0em;
}

.tracking-wide {
    letter-spacing: 0.05em;
}

.tracking-wider {
    letter-spacing: 0.1em;
}

.tracking-widest {
    letter-spacing: 0.2em;
}

.fs-small {
    font-size: 0.75rem;
}

.category-container > *:not(:last-child)::before {
    content: "•";
    margin: 0 1rem;
}

.dot-between-item > *:not(:last-child)::after {
    content: "•";
    margin: 0 1rem;
}

.comma-between-item > *:not(:last-child)::after {
    content: ",";
}

.fst-italic-hover {
    &:hover {
        font-style: italic;
    }
}

.site-header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.site-header-fixed.show {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.post__content > p:first-of-type::first-letter {
    font-family: 'Playfair Display';
    font-size: 52px;
    margin-right: .5rem;
    float: left;
    line-height: 0.85;

    @include media-breakpoint-up(xl) {
        font-size: 64px;
    }
}

.border-center:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    transform: translateY(-50%);
    z-index: -1;
}

.post__content {
    blockquote {
        display: flex;
        font-size: 1.5rem;
        font-style: italic !important;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 1rem;
        border-left: 2px solid $warning;
        margin: 0 0 1rem;

        * {
            margin: 0;
        }
    }

    a {
        text-decoration: underline;
        color: $warning;
        text-underline-offset: 5px;
    }

    .wp-caption {
        max-width: 100%;
    }

    .wp-caption-text {
        font-family: 'DM Sans';
        font-size: .75rem;
        color: var(--bs-secondary);
    }

    img {
        max-width: 100%;
        height: auto;
        margin-bottom: .5rem;
    }
}